body {
	font-family: sans-serif;
	background: #4fc5f3;
}

.main-nav {
	z-index: 1;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.main-header {
	z-index: 10000;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#home,
#about-me,
#projects,
#contact {
	background-color: rgb(0, 0, 0);
	font-style: italic;
	margin-right: 3px;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	cursor: pointer;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-color: black;
	border: none;
	transition: 0.25s;
	border-radius: 10px;
}

#home:hover,
#about-me:hover,
#projects:hover,
#contact:hover {
	background-color: #ffffff;
	color: black;
}

.main-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 90px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.picture {
	width: 55%;
	height: auto;
	max-width: 400px;
	min-width: 100px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: none;
}

.welcome-text h1 {
	margin-top: 0;
}

.welcome-text {
	word-wrap: break-word;
	z-index: 0;
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-radius: 20px;
	text-align: center;
	position: relative;
	border-top: 9px solid rgb(0, 0, 0);
	background-color: #ffffff;
	width: 30%;
	min-width: 280px;
	font-size: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 190px;
}

#learn-more {
	font-size: 20px;
	font-weight: bold;
	background-color: black;
	color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: 0.4s;
	margin-top: 5px;
}

#learn-more:hover,
#my-projects:hover {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

#my-projects {
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: 0.4s;
}

.screen-shot {
	width: 100%;
	height: auto;
}
.screen-shot-container {
	max-width: 800px;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

a:active {
	text-decoration: none;
	color: inherit;
}

span {
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
}
span:hover {
	color: black;
}

.profile-picture {
	position: absolute;
	text-align: center;
	top: 90px;
}
